#homeDiv{
  width: 0;
  height: 0;
}

.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 85vw;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.homeDiv::before{
    content: "";
    height: 100vh;
    width: 85vw;
    background-image: url("../../public/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 1;
}

.mainDiv{
    z-index: 1;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.mainDiv p{
    margin-left: 10%;
    margin-top: 18%;
    text-align: left;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.typeWrite{
    margin-left: 10%;
    margin-top: 5%;
    text-align: left;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
}

@media screen and (max-width: 768px){
    .homeDiv{
        width: 100vw;
    }
    .homeDiv::before{
        width: 100vw;
    }
    .mainDiv p{
        margin-left: 5%;
        margin-top: 35%;
        font-size: 2rem;
    }
    .typeWrite{
        margin-left: 3%;
        margin-top: 5%;
        font-size: 1.5rem;
        height: 30vh;
    }
    
}